# Logic, Control Flow and Filtering

## Equality

To check if two Python values, or variables, are equal you can use `==`. To check for inequality, you need `!=`. As a refresher, have a look at the following examples that all result in True. Feel free to try them out in the IPython Shell.
```Python
2 == (1 + 1)
"intermediate" != "python"
True != False
"Python" != "python"
```
When you write these comparisons in a script, you will need to wrap a `print()` function around them to see the output.

### Instructions
- In the editor on the right, write code to see if `True` equals `False`.
- Write Python code to check if `-5 * 15` is not equal to `75`.
- Ask Python whether the strings `"pyscript"` and `"PyScript"` are equal.
- What happens if you compare booleans and integers? Write code to see if `True` and `1` are equal.

In [1]:
# Comparison of booleans
print(True==False)

# Comparison of integers
print(-5*15 != 75)

# Comparison of strings
print('pyscript' == 'PyScript')

# Compare a boolean with an integer
print(True==1)

False
True
False
True

### Greater and less than

In the video, Hugo also talked about the less than and greater than signs, `<` and `>` in Python. You can combine them with an equals sign: `<=` and `>=`. Pay attention: `<=` is valid syntax, but `=<` is not.

All Python expressions in the following code chunk evaluate to True:
```Python
3 < 4
3 <= 4
"alpha" <= "beta"
```
Remember that for string comparison, Python determines the relationship based on alphabetical order.

### Instructions
- Write Python expressions, wrapped in a `print()` function, to check whether:
- x is greater than or equal to `-10`. `x` has already been defined for you.
- `"test"` is less than or equal to `y`. `y` has already been defined for you.
- `True` is greater than `False`.

In [2]:
# Comparison of integers
x = -3 * 6
print(x>=-10)

# Comparison of strings
y = "test"
print('test'<=y)

# Comparison of booleans
print(True>False)

False
True
True

## Compare arrays

Out of the box, you can also use comparison operators with NumPy arrays.

Remember `areas`, the list of area measurements for different rooms in your house from Introduction to Python? This time there's two NumPy arrays: `my_house` and `your_house`. They both contain the areas for the kitchen, living room, bedroom and bathroom in the same order, so you can compare them.

### Instructions
Using comparison operators, generate boolean arrays that answer the following questions:

- Which areas in `my_house` are greater than or equal to - Which areas in `my_house` are greater than or equal to `18`?
- You can also compare two NumPy arrays element-wise. Which areas in `my_house` are smaller than the ones in `your_house`?
- Make sure to wrap both commands in a `print()` statement so that you can inspect the output!

In [7]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than or equal to 18
print(my_house >= 18)

# my_house less than your_house
print(my_house<your_house)

[ True  True False False]
[False  True  True False]

## and, or, not (1)

A boolean is either `1` or `0`, `True` or `False`. With boolean operators such as `and`, `or` and `not`, you can combine these booleans to perform more advanced queries on your data.

In the sample code, two variables are defined: `my_kitchen` and `your_kitchen`, representing areas.

### Instructions
- Write Python expressions, wrapped in a print() function, to check whether:
    - `my_kitchen` is bigger than `10` and smaller than `18`.
    - `my_kitchen` is smaller than `14` or bigger than `17`.
    - double the area of `my_kitchen` is smaller than triple the area of `your_kitchen`.

In [8]:
# Define variables
my_kitchen = 18.0
your_kitchen = 14.0

# my_kitchen bigger than 10 and smaller than 18?
print(my_kitchen>10 and my_kitchen<18)

# my_kitchen smaller than 14 or bigger than 17?
print(my_kitchen<14 or my_kitchen>17)

# Double my_kitchen smaller than triple your_kitchen?
print(2*my_kitchen<3*your_kitchen)

False
True
True

## and, or, not (2)

To see if you completely understood the boolean operators, have a look at the following piece of Python code:
```Python
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))
```
What will the result be if you execute these three commands in the IPython Shell?

NB: Notice that not has a higher priority than and and or, it is executed first.

In [9]:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

False

## Boolean operators with NumPy

Before, the operational operators like `<` and `>=` worked with NumPy arrays out of the box. Unfortunately, this is not true for the boolean operators `and`, `or`, and `not`.

To use these operators with NumPy, you will need `np.logical_and()`, `np.logical_or()` and `np.logical_not()`. Here's an example on the my_house and your_house arrays from before to give you an idea:
```Python
np.logical_and(my_house > 13, 
               your_house < 15)
```

### Instructions
Generate boolean arrays that answer the following questions:
- Which areas in `my_house` are greater than `18.5` or smaller than `10`?
- Which areas are smaller than `11` in both `my_house` and `your_house`? Make sure to wrap both commands in `print()` statement, so that you can inspect the output.

In [10]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house>18.5,my_house<10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house<11,your_house<11))

[False  True False  True]
[False False False  True]

## if

It's time to take a closer look around in your house. Two variables are defined in the sample code: `room`, a string that tells you which room of the house we're looking at, and `area`, the area of that room.

### Instructions
- Examine the `if` statement that prints out `"Looking around in the kitchen."` if room equals `"kit"`.
- Write another `if` statement that prints out `"big place!"` if area is greater than `15`.

In [12]:
# Define variables
room = "kit"
area = 14.0

# if statement for room
if room == "kit" :
    print("looking around in the kitchen.")

# if statement for area
if area > 15:
    print('big place!')

looking around in the kitchen.

## Add else

In the script, the `if` construct for `room` has been extended with an `else` statement so that "looking around elsewhere." is printed if the condition `room == "kit"` evaluates to `False`.

Can you do a similar thing to add more functionality to the `if` construct for `area`?

### Instructions
Add an `else` statement to the second control structure so that `"pretty small."` is printed out `if area > 15` evaluates to False.

In [13]:
# Define variables
room = "kit"
area = 14.0

# if-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
else :
    print("looking around elsewhere.")

# if-else construct for area
if area > 15 :
    print("big place!")
else:
    print('pretty small.')

looking around in the kitchen.
pretty small.

## Customize further: elif

It's also possible to have a look around in the bedroom. The sample code contains an `elif` part that checks if `room` equals "bed". In that case, "looking around in the bedroom." is printed out.

It's up to you now! Make a similar addition to the second control structure to further customize the messages for different values of `area`.

### Instructions
Add an `elif` to the second control structure such that `"medium size, nice!"` is printed out if `area` is greater than `10`.

In [14]:
# Define variables
room = "bed"
area = 14.0

# if-elif-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
elif room == "bed":
    print("looking around in the bedroom.")
else :
    print("looking around elsewhere.")

# if-elif-else construct for area
if area > 15 :
    print("big place!")
elif area > 10:
    print('medium size, nice!')
else :
    print("pretty small.")

looking around in the bedroom.
medium size, nice!

## Driving right (1)

Remember that cars dataset, containing the `cars` per 1000 people (`cars_per_cap`) and whether people drive right (`drives_right`) for different countries (`country`)? The code that imports this data in CSV format into Python as a DataFrame is included in the script.

In the video, you saw a step-by-step approach to filter observations from a DataFrame based on boolean arrays. Let's start simple and try to find all observations in `cars` where `drives_right` is `True`.

`drives_right` is a boolean column, so you'll have to extract it as a Series and then use this boolean Series to select observations from `cars`.

### Instructions
- Extract the `drives_right` column as a Pandas Series and store it as `dr`.
- Use `dr`, a boolean Series, to subset the `cars` DataFrame. Store the resulting selection in `sel`.
- Print sel, and assert that `drives_right` is True for all observations.

In [19]:
# Import cars data
import pandas as pd
cars = pd.read_csv('dataset/cars.csv', index_col = 0)

dr = cars['drives_right']
sel = cars[dr]
sel

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

## Driving right (2)

The code in the previous example worked fine, but you actually unnecessarily created a new variable dr. You can achieve the same result without this intermediate variable. Put the code that computes dr straight into the square brackets that select observations from cars.

### Instructions
Convert the code to a one-liner that calculates the variable sel as before.

In [20]:
sel = cars[cars['drives_right']]
sel

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

## Cars per capita (1)

Let's stick to the cars data some more. This time you want to find out which countries have a high cars per capita figure. In other words, in which countries do many people have a car, or maybe multiple cars.

Similar to the previous example, you'll want to build up a boolean Series, that you can then use to subset the cars DataFrame to select certain observations. If you want to do this in a one-liner, that's perfectly fine!

### Instructions
- Select the `cars_per_cap` column from `cars` as a Pandas Series and store it as `cpc`.
- Use `cpc` in combination with a comparison operator and `500`. You want to end up with a boolean Series that's `True` if the corresponding country has a `cars_per_cap` of more than `500` and `False` otherwise. Store this boolean Series as `many_cars`.
- Use `many_cars` to subset `cars`, similar to what you did before. Store the result as `car_maniac`.
- Print out `car_maniac` to see if you got it right.

In [23]:
cpc = cars['cars_per_cap']
cpc

US     809
AUS    731
JAP    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64

In [24]:
cpc = cpc > 500
cpc

US      True
AUS     True
JAP     True
IN     False
RU     False
MOR    False
EG     False
Name: cars_per_cap, dtype: bool

In [25]:
many_cars = cars[cpc]
many_cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [27]:
# In just one line of code
many_cars = cars[cars['cars_per_cap'] > 500]
many_cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

## Cars per capita (2)

Remember about `np.logical_and()`, `np.logical_or()` and `np.logical_not()`, the NumPy variants of the `and`, `or` and `not` operators? You can also use them on Pandas Series to do more advanced filtering operations.

Take this example that selects the observations that have a cars_per_cap between 10 and 80. Try out these lines of code step by step to see what's happening.
```Python
cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 10, cpc < 80)
medium = cars[between]
```

### Instructions
- Use the code sample provided to create a DataFrame `medium`, that includes all the observations of `cars` that have a `cars_per_cap` between `100` and `500`.
- Print out `medium`.

In [30]:
medium = cars[np.logical_and(cars['cars_per_cap'] > 100, cars['cars_per_cap'] < 500)]
medium

    cars_per_cap country  drives_right
RU           200  Russia          True