# Modulo 4 - Python for Data Science, Ai & Development
Riassunto del quarto modulo del corso di Data Science IBM

## Table of Content
- Codice base
    - Funzione Print
    - Types
    - Convertire oggetti
    - Booleani
    - Espressioni e Variabili
        - Espressioni
        - Variabili
- Stringhe
    - Indexing
    - Indexing negativo
    - Lunghezza
    - Slicing
    - Stride
    - Concatenare Stringhe
    - Sequenza escape
    - Operazioni con le stringhe
        - Upper
        - Replace
        - Find
- Liste
    - Indexing
    - Slicing
    - Extend e Append
    - Modificare le liste
        - Sostituzione degli elementi
        - Comando `del`
        - Metodo `split`
    - Copiare e clonare
        - Copiare
        - Clonare
- Tuples
    - Indexing
    - Concatenamento
    - Sliding
    - Sorting
    - Nested Tuples
- Dizionario
    - Chiavi
    - Valori
    - Aggiungere un elemento
    - Eliminare un elemento
    - Verificare la presenza di una chiave nel dizionario
- Sets
	- Operazioni con i Sets
		- Addizioni
		- Eliminare
		- Verifica
		- Operazioni Logiche
			- Intersezione
			- Differenza
			- Intersezione
			- Metodi 
                - differenza
                - intersezione
                - unione
                - superset e subset
- Conditions
    - Operatori di comparazione
    - Branching
    - Operatori logici
- Loops
    - Range
    - `for` loop
    - `while` loop
___

## Codice Base
### Funzione Print

In [2]:
# Stampare stringhe con errori per vedere cosa ci restituisce il sistema

print('This will be printed')
frint('This will cause an error')
print('This will NOT be printed')

This will be printed

NameError: name 'frint' is not defined

### Types
Come identificare la tipologia di oggetto con cui stiamo lavorando.

In [3]:
#Numero intero int
type(12)

int

In [4]:
#Ottenere un intero da una divisione

6//2

3

In [5]:
#Decimale float
type(1.2)

float

In [6]:
#Ottenere un numero decimale da una divisione

6/2

3.0

In [7]:
#Stringa str
type('Scriviamo qualcosa, 12')

str

### Convertire gli oggetti

In [8]:
# Convertire un decimale in intero

int(1.5) #NB la conversione dei decimali in interi comporta una perdita di informazioni.

1

In [9]:
# Convertire una stringa in numero

int('1') #NB in questo caso stiamo trasformando una stringa in numero

1

In [10]:
int('1 o 2') #NB in questa caso il programma ci darà un errore perché non è in grado di riconoscere i due numeri

ValueError: invalid literal for int() with base 10: '1 o 2'

In [11]:
#Convertire un intero in decimale

float(2) #Trasformare un intero in decimale implica solo l'aggiunta del .0

2.0

In [12]:
#Convertire un numero in stringa

str(101) #Aggiunge semplicemente degli apici per trasformare il numero, in questo caso, in stringa

'101'

### Booleano

In [13]:
type(True) #I booleani vanno sempre scritti con la lettera maiuscola

bool

In [14]:
type(False)

bool

In [15]:
#Convertire numeri in booleani

bool(1)

True

In [16]:
bool(0)

False

### Espressioni e Variabili
#### Espressioni

In [17]:
# Addizioni
43 + 60 + 16 + 41

160

In [18]:
# Sottrazioni
40 - 60

-20

In [19]:
# Divisioni
25 / 5

5.0

In [20]:
25 / 6

4.166666666666667

In [21]:
25 // 6

4

In [22]:
# Espressioni matematiche (Segue la classica convezione)
30 + 2 * 60

150

In [23]:
(30 + 2) * 60

1920

#### Variabili

In [24]:
x = 43 + 60 + 16 + 41 # Abbiamo creato una variabile
x # Per visualizzarla

160

In [25]:
# Si può utilizzare una seconda variabile per memorizzare il valore di una operazioni tra una variabile e un valore
y = x / 60
y

2.6666666666666665

In [26]:
# Recuperare un valore di una variabile, modificarlo e salvarlo nuovamente
x

160

In [27]:
x = x / 60
x

2.6666666666666665

In [28]:
x = 3+2*2
x

7

In [29]:
y = (3+2)*2
y

10

In [30]:
z = x+y
z

17

---

## Stringhe
Le stringhe sono oggetti che rappresentano del testo puro raccolto tra `""` oppure `''`.
Di seguito alcuni esempi

In [31]:
# Testo normale 
"Ciao Sono matteo"

'Ciao Sono matteo'

In [32]:
# Numeri
"1, 2, 3, 4"

'1, 2, 3, 4'

In [33]:
# Caratteri speciali
"%&£€"

'%&£€'

È anche possibile allocare le stringhe all'interno di variabili in questo modo:

In [34]:
name = 'Michael Jackson' # Allochiamo la stringa nella variabile nome
name # Visualizziamo il valore della variabile

'Michael Jackson'

### Indexing
È utile considerare le stringhe come una sequenza ordinata di elementi. Ciascun elemento della sequenza può essere accessibile e rappresentato usando un `indice` rappresentato da un vettore di numeri.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsIndex.png" width="600" align="center" />

**NB** l'indice parte sempre da zero, quindi il primo elemento ha indice 0

In [35]:
# Stampiamo la prima lettera della stringa contenuta nella variabile nome
print(name[0])

M

In [36]:
# Notare la differenza scrivendo invece soltanto
name[0]

'M'

### Negative Indexing
In questo caso, partendo dall'ultimo elemento della stringa, si inizia con il valore `-1`.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsNeg.png" width="600" align="center" />

In [37]:
# L'ultimo elemento della stringa può quindi essere rappresentato in questo modo
print(name[14]) # Indexing positivo
print(name[-1]) # Indexing negativo

n
n

### Lunghezza
Serve per trovare il numero di caratteri di una stringa e si utilizza la funzione `len()`

In [38]:
# Lunghezza della variabile name
len(name)

15

### Slicing
Letteralmente significa "affettare" ed è una funzione che permette di estrarre una porzione di caratteri da una stringa.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsSlice.png" width="600" align="center" />

***NB*** Il primo numero indica da quale valore dell'Indice vogliamo partire, mentre il secondo numero indica di quanti valori vogliamo spostarci in avanti dal primo elemento della stringa.

In [39]:
# Partiamo con l'esempio più facile. Prendiamo i primi 4 caratteri della stringa contenuta nella variabile name
name[0:4]
# Siamo partiti dalla prima posizione, con indice 0, e ci siamo spostati in avanti di 4 posizioni

'Mich'

In [40]:
# Un esempio più complicato
name[8:12]
# In questo caso abbiamo scelto di partire dalla posizione 9, con indice 8, ci siamo fermati a 12 posizioni dall'inzio della stringa

'Jack'

## Stride
Lo slicing contiene una ulteriore opzione tra i suoi comandi: lo Stride che letteralmente significa "passo" inteso ogni quante posizioni estrarre un valore.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsStride.png" width="600" align="center" />

In [41]:
# In questo caso, lo slice parte dal primo valore e va fino all'ultimo, estrando i caratteri ogni due posizioni a partire dalla prima.
name[::2]

'McalJcsn'

In [42]:
# In questo caso, vogliamo estrarre da una porzione inferiore della stringa ogni due caratteri a partire dal primo fino alla quinta posizione.
name[0:5:2]

'Mca'

### Concatenate strings
Le stringe possono essere combinate tra di loro usando la semplice addizione.

In [43]:
statement = name + " is the best"
statement

'Michael Jackson is the best'

Possono essere anche replicate

In [44]:
(name + " ")* 3

'Michael Jackson Michael Jackson Michael Jackson '

### Escape Sequences

In [45]:
print("Micael Jackson \n is the best") # \n va a capo
print("Michel Jackson \t is the best") # \t indica il tab
print("Michael Jackson \\ is the best") # \\ il doppio slash annulla la funzione escape
print(r"Michael Jackson \n is the best") # r annulla l'escape

Micael Jackson
 is the best
Michel Jackson 	 is the best
Michael Jackson \ is the best
Michael Jackson \n is the best

### String Operation
È possibile effettuare diverse operazioni con le stringhe per manipolarle in svariati modi.

#### Upper
Il metodo `upper` trasforma in maiuscolo tutti i caratteri della stringa

In [46]:
a = "Thriller is the sixth studio album"
print("Before upper", a)
b = a.upper()
print("After upper", b)

Before upper Thriller is the sixth studio album
After upper THRILLER IS THE SIXTH STUDIO ALBUM

#### Replace
Il metodo `replace` rimpiazza un segmento di una stringa con un altro. Il primo argomento è la porzione di stringa da cercare, il secondo è la porzione con cui sostituirla. Se la porzione di stringa da cercare non viene trovata la sostituzione non può essere effettuata.

In [47]:
a = 'Michael Jackson is the best'
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [48]:
c = 'Pippo mangia il gelato'
d = c.replace('Pipo','Topolino') # Avendo scritto Pipo anziché Pippo la sostituzione non viene eseguita
d

'Pippo mangia il gelato'

#### Find
Il metodo `find` cerca una sub-stringa. L'argomento è la porzione di stringa da cercare, mentre il risultato è il primo indice della sequenza in cui si trova la sottostringa. Se la sub-stringa non viene trovata, il metodo fornisce come risultato `-1`

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsFind.png" width="600" align="center" />

In [49]:
name = "Michael Jackson"
name.find('el') # il risultato rappresenta l'indice della prima lettera della sottostringa

5

In [50]:
name.find('Jack')

8

___

## List
### Indexing
Una lista è una sequenza di differenti oggetti tra cui interi, stringhe e anche altre liste. Ogni elemento della lista viene chiamato **index**. A ciascun index fa riferimento uno specifico **elemento** all'interno della lista.

In [51]:
# Creiamo una lista
L = ["Michael Jackson",10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

Anche per le liste l'indexing può essere sia negativo che positivo.

In [52]:
print("Otteniamo lo stesso elemento con \n Indexing Positivo:", L[0], "\n Indexing Negativo:", L[-3])
print("\n")
print("Otteniamo lo stesso elemento con \n Indexing Positivo:", L[1], "\n Indexing Negativo:", L[-2])
print("\n")
print("Otteniamo lo stesso elemento con \n Indexing Positivo:", L[2], "\n Indexing Negativo:", L[-1])

Otteniamo lo stesso elemento con
 Indexing Positivo: Michael Jackson
 Indexing Negativo: Michael Jackson


Otteniamo lo stesso elemento con
 Indexing Positivo: 10.1
 Indexing Negativo: 10.1


Otteniamo lo stesso elemento con
 Indexing Positivo: 1982
 Indexing Negativo: 1982

### Slicing

In [53]:
# Creiamo una lista
L = ["Michael Jackson", 10.1, 1982, "MJ", 1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [54]:
# Facciamo lo slicing della lista
L[3:5] # Parte dall'indice 3 (MJ) fino al quinto elemento a partire dal primo (1)

['MJ', 1]

### Extend e Append
Per aggiungere un nuovo elemento alla lista è possibile utilizzare due metodi `extend` e `append`. Il primo aggiunge gli elementi come indici multipli (se presente più di uno), il secondo invece aggiunge gli elementi come unico indice. Vedere esempio di seguito.

In [55]:
# Impiego del metodo EXTEND
L = ["Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

Notare come pop e 10 siano stati aggiunti come due elementi separati, incrementando l'index di due valori.

In [56]:
# Impiego del metodo APPEND
L = ["Michael Jackson", 10.2]
L.append(('pop',10))
L

['Michael Jackson', 10.2, ('pop', 10)]

In questo caso, la nuova lista si compone di 3 elementi, dove l'ultimo è costituito da pop e 10.

### Modificare gli elementi
Siccome le liste sono mutabili, è possibile modificarle e sostituire gli elementi al loro interno.

In [57]:
# Cambiamo gli elementi
A = ["disco", 10, 1.2]
print ('Prima di cambiare la lista\n', A)

A[0] = 'hard rock'
print('Dopo aver sostituito il primo indice\n', A)

Prima di cambiare la lista
 ['disco', 10, 1.2]
Dopo aver sostituito il primo indice
 ['hard rock', 10, 1.2]

#### Comando `del`
Oltre alla sostituzione dei vari elementi possiamo anche eliminarli attraverso il comando `del`

In [58]:
# Cancelliamo il primo indice
print('Prima del cambiamento \n', A)
del(A[0])
print('Dopo aver cancellato il primo elemento \n',A)

Prima del cambiamento
 ['hard rock', 10, 1.2]
Dopo aver cancellato il primo elemento
 [10, 1.2]

#### Comando `split`
Viene utilizzato per convertire una stringa in una lista. In particolare genera un elemento per ogni carattere, o gruppo di caratteri, separati da uno spazio.

In [59]:
'Hard Rock'.split()

['Hard', 'Rock']

È possibile definire anche un separatore.

In [60]:
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

### Copiare e Clonare le liste
Quando impostiamo una variabile **B** uguale ad **A**, sia **A** che **B** fanno riferimento alla stessa lista salvata nella memoria

#### Copiare

In [61]:
# Copiamo due liste
A = ["hard rock", 10, 1.2]
B = A
print('A', A)
print('B', B)

A ['hard rock', 10, 1.2]
B ['hard rock', 10, 1.2]

Se modifichiamo il primo elemento di **A**, questo verrà cambiato anche in B.

In [62]:
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

#### Clonare
La clonazione non si porta dietro le eventuali modifiche apportate alla prima variabile, come si puo' vedere nell'esempio successivo: dopo aver eseguito la clonazione di **A** su **B**, modificando il primo elemento di **A**, non viene riflesso su **B**

In [63]:
A = ["hard rock", 10, 1.2]
B = A[:]
B

['hard rock', 10, 1.2]

In [64]:
print('B[0]', B[0])
A[0] = "banana"
print('B[0]', B[0])

B[0] hard rock
B[0] hard rock

---

## Tuples
La principale caratteristica delle Tuples è che sono **immutabili** pertanto una volta definita non c'è modo di modificarla, se non salvarla sotto un'altra variabile. Una tuple è caratterizzata da diversi elementi, seprati da una virgola `,` e racchiusi tra parentesi tonde `()`

In [65]:
# Creiamo una tuple
tuple1 = ("disco", 10, 1.2)
tuple1

('disco', 10, 1.2)

In [66]:
type(tuple1)

tuple

### Indexing
Possiamo stampare ciascun valore della tuple:

In [67]:
print('Indexing diretto:',tuple1[0],'\t Indexing indiretto:', tuple1[-3])
print('Indexing diretto:',tuple1[1],'\t\t Indexing indiretto:', tuple1[-2])
print('Indexing diretto:',tuple1[2],'\t\t Indexing indiretto:', tuple1[-1])

Indexing diretto: disco 	 Indexing indiretto: disco
Indexing diretto: 10 		 Indexing indiretto: 10
Indexing diretto: 1.2 		 Indexing indiretto: 1.2

### Concatenamento

In [68]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

### Slicing

In [69]:
tuple2[0:3]

('disco', 10, 1.2)

In [70]:
len(tuple2)

5

### Sorting

In [71]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [72]:
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

### Nested Tuple
Possiamo avere tuples annidate ed accedere ai singoli elementi mediante l'indexing.

In [73]:
NestedT = (1, 2, ("pop", "rock"), (3, 4), ("disco",(1,2)))

In [74]:
print("Elemento 0:", NestedT[0])
print("Elemento 1:", NestedT[1])
print("Elemento 2:", NestedT[2])
print("Elemento 3:", NestedT[3])
print("Elemento 4:", NestedT[4])

Elemento 0: 1
Elemento 1: 2
Elemento 2: ('pop', 'rock')
Elemento 3: (3, 4)
Elemento 4: ('disco', (1, 2))

In [75]:
print("Elemento 2,0:", NestedT[2][0])
print("Elemento 2,1:", NestedT[2][1])
print("Elemento 3,0:", NestedT[3][0])
print("Elemento 2,1:", NestedT[3][1])
print("Elemento 4,0:", NestedT[4][0])
print("Elemento 4,1:", NestedT[4][1])

Elemento 2,0: pop
Elemento 2,1: rock
Elemento 3,0: 3
Elemento 2,1: 4
Elemento 4,0: disco
Elemento 4,1: (1, 2)

In [76]:
NestedT[2][1][0]

'r'

In [77]:
NestedT[4][1][1]

2

---

## Dizionario
Un dizionario consiste di chiavi e valori. È comodo comparare un dizionare ad una lista. Tuttavia anzichè essere indicizzato numericamente come le liste, il dizionare è costituito da chiavi. Le chiavi sono utilizzate per accedere ai valori all'interno del dizionario.

In [78]:
# Creiamo un dizionario
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [79]:
# Per accedere ad un valore specifico
print(Dict['key3']) # ho usato il comando print per visualizzare entrambi i risultati
print(Dict[(0,1)])

[3, 3, 3]
6

Nei dizionari, le chiavi sono seprate dai valori mediante i due punti `:`. Ciacun elemento (chiave e valore) è separato da una virgola. I diversi valori sono racchiusi tra due parentesi graffe `{}`.

In [80]:
# Creiamo un dizionario di esempio:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

### Chiavi
Possiamo estrarre tutte le chiavi presenti nel dizionario con il metodo `keys()``

In [81]:
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

### Valori
Allo stesso modo possiamo estrarre tutti i valori del dizionario con il metodo `values()`

In [82]:
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

### Aggiungere un elemento

In [83]:
release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

### Eliminare un elemento

In [84]:
del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

### Verificare la presenza di una chiave all'interno del dizionario

In [85]:
'The Bodyguard' in release_year_dict

True

In [86]:
'Graduation' in release_year_dict

False

----

## Set
Un set è un insieme unico di oggetti in Python, racchiuso da un paio di parentesi graffe `{}`. La principale caratteristica del set è che elimina automaticamente gli elementi duplicati.

In [87]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

È possibile convertire una lista in un set con il comando `set()`

In [88]:
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [89]:
# Creiamo un set di generi musicali
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

### Operazioni con i Set

In [90]:
# Sample set
A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

#### Addizioni
Possiamo utilizzare il metodo `add()`

In [91]:
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

#### Eliminare
Possiamo utilizzare il metodo `remove`

In [92]:
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

#### Verifica
Per verificare la presenza di un elemento nel set basta usare il comando `in`

In [93]:
"AC/DC" in A

True

#### Operazioni Logiche
È possibile verificare diversi aspetti con i set come ad esempio la differenza, intersezioni e unioni:

In [94]:
# Sample Set
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [95]:
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

##### Intersezione

In [96]:
intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

##### Differenza
Per trovare tutti gli elementi di `album_set1` che **non** sono contenuti in `album_set2`:

In [97]:
album_set1.difference(album_set2)

{'Thriller'}

Mentre, tutti gli elementi contenuti in `album_set2`
 che non sono contentuti in `album_set1`:

In [98]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

##### Intersezione

In [99]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

##### Unione

In [100]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

##### Superset

In [101]:
set(album_set1).issuperset(album_set2)

False

In [102]:
set(album_set2).issubset(album_set1)

False

In [103]:
set({"Back in Black","AC/DC"}).issubset(album_set1)

True

In [104]:
album_set1.issuperset({"Back in Black","AC/DC"})

True

---

## Conditions
### Operatori di comparazione
Le operazioni di comparazione vengono impiegati per comprare dei valori o degli operandi basati su una condizione che restituisce un boleano. Le tipologie di operatori sono sono:

- Uguale `==`
- Non ugurale `!=`
- Maggiore di `>`
- Minore di `<`
- Maggiore uguale di `>=`
- Minore uguale di `<=`

In [105]:
# Uguale
a = 5
a == 6

False

In [106]:
# Maggiore di
i = 6
i > 5

True

In [107]:
# Minore di
i = 2
i < 5

True

In [108]:
# Diverso da
i = 6
i != 6

False

In [109]:
# Comparazione tra stringhe

print("ACDC" == "Michael Jackson")
print("ACDC" == "acdc") # La comparazione tra stringhe è case sensitive

False
False

### Branching
Il branching permette di eseguire diverse istruzioni per input differenti. L'analisi delle condizioni viene effettuata attraverso un ciclo `if`

In [110]:
# Esempio di ciclo if con condizione vera

age = 19

# espressione
if age > 18:        # Ricordarsi sempre i :
    print("puoi entrare")
print("vai avanti")

puoi entrare
vai avanti

In [111]:
# Esempio di ciclo if con condizione non vera

age = 18

# espressione
if age > 18:        # Ricordarsi sempre i :
    print("puoi entrare")
print("vai avanti")

vai avanti

In [112]:
# Esempio di ciclo if con più condizioni

age = 18

if age > 18:
    print("puoi entrare")
elif age == 18:
    print("vai a vedere i Pink Floid")
else:
    print("vai a vedere i Meat Loaf")
print("prosegui")

vai a vedere i Pink Floid
prosegui

### Operatori logici
Gli operatori logici permettono di verificare più di una condizione per volta. Tali operatori sono:

- `and` fornisce come risultato `True` solo se tutte le condizioni sono vere.
- `or` fornisce come risulato `True` se almeno una delle condizioni è vera
- `not` fornisce come risultato l'opposto

In [113]:
# Esempio 1

album_year = 1980

if album_year > 1979 and album_year < 1990:
    print("L'anno dell'album è compreso tra il 1980 e il 1989")
print("")

L'anno dell'album è compreso tra il 1980 e il 1989

In [114]:
# Esempio 2

album_year = 1990

if album_year < 1980 or album_year > 1989:
    print("L'album non è stato fatto negli anni 80")
else:
    print("L'album è stato fatto negli anni 80")

L'album non è stato fatto negli anni 80

In [1]:
# Esempio 3

album_year = 1983

if not album_year == 1984:
    print("L'album non è uscito nel 1984")

L'album non è uscito nel 1984

---

## Loops
### Range
L'oggetto `range` ritorna molto utile per rappresentare un insieme di oggetti in una lista ordinata. Per generare una lista di numeri che vanno da 0 a 2 è sufficiente scrivere:

In [2]:
range(3)

range(0, 3)

**NB** Python 3 non rappresenta la lista con tutti gli elementi, ma solo l'ogetto range con gli estremi.

### `for` loop
Permette di eseguire un blocco di codice più volte. Ad esempio:

In [2]:
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In python possiamo accedere direttamente agli elementi della lista nel seguente modo:

In [3]:
for year in dates: #year è semplicemente la variabile per il contatore
    print(year)

1982
1980
1973

Per ciascuna iterazione, il valore della variabile `year` si comporta come il valore di `date[i]` del primo esempio.

In python possiamo anche cambiare gli elementi all'interno di una lista nel seguente modo:

In [23]:
squares = ['red','yellow','green','purple','blue']
print(squares,"\n")

for i in range(0,5):
    print("Prima della sostituzione l'elemento", i, "è", squares[i])
    squares[i] = 'white'
    print("Dopo la sostituzione l'elemento", i, "è", squares[i])
print("\n",squares)

['red', 'yellow', 'green', 'purple', 'blue']

Prima della sostituzione l'elemento 0 è red
Dopo la sostituzione l'elemento 0 è white
Prima della sostituzione l'elemento 1 è yellow
Dopo la sostituzione l'elemento 1 è white
Prima della sostituzione l'elemento 2 è green
Dopo la sostituzione l'elemento 2 è white
Prima della sostituzione l'elemento 3 è purple
Dopo la sostituzione l'elemento 3 è white
Prima della sostituzione l'elemento 4 è blue
Dopo la sostituzione l'elemento 4 è white

 ['white', 'white', 'white', 'white', 'white']

Per visualizzare sia l'indice che il rispettivo valore della lista, possiamo utilizzare il seguente codice:

In [3]:
squares = ['red','yellow','green','purple','blue']

for i,square in enumerate(squares):
    print(i,square)

0 red
1 yellow
2 green
3 purple
4 blue

### `while` loop
La caratteristicha del ciclo `while` è che il comando viene eseguito fintanto che la condizione restituisce come risultato `True`. La struttura del codice si presenta come segue:

In [5]:
dates = [1982,1980,1973,200]

i = 0
year = dates[0]

while year != 1973:
    print(year)
    i += 1  # il segno += equivale a variabile = variabile + ...
    year = dates[i]
    
print("Ci sono volute",i, "iterazioni per uscire fuori dal ciclo")

1982
1980
Ci sono volute 2 iterazioni per uscire fuori dal ciclo

In [6]:
# Esempio 2

PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

i = 0
rating = PlayListRatings[0]

while(i<len(PlayListRatings) and rating >= 6):
    print(rating)
    i += 1
    rating = PlayListRatings[i]

10
9.5
10
8
7.5

Attraverso un ciclo `while` possiamo ottenere una sottolista contentene solo alcuni valori. Nell'esempio seguente, vogliamo copiare in una lista `new_squares` i valori `organge` della lista `squares` finché la conidzione è soddisfatta.

In [9]:
squares = ['orange', 'orange', 'orange', 'purple', 'blue ']
new_squares = []

i = 0
color = squares[0]

while(i<len(squares) and color == "orange"):
    new_squares.append(color)
    i += 1
    color = squares[i]
print(new_squares)

['orange', 'orange', 'orange']

In [10]:
L=[1,3,2]
sorted(L)

[1, 2, 3]